.elite {
    height: 100px;
    width: 100%;
    background-color: #22A7F0;
    color: white;
  }
  .enterprise {
    height: 100px;
    width: 100%;
    background-color: #0450A3;
    color: white;
  }