.refresh{
    background: white;
    padding: .30rem 0.45rem;
    float: right;
    border: 1px solid #ced4da;
    height: 33px;
    border-radius: 0.75rem !important;
}
.bg-red{
    background-color: #ff7171;
}