<div class="row margin-top-5">
  <div class="col-sm-12">
    <div class="row justify-content-between">
      <div class="col-auto mr-auto">
        <span>No Colour : Current</span>&nbsp;&nbsp;
        <span><span style="background: red;width: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;</span> : Error</span>&nbsp;&nbsp;
        <span><span style="background: green;width: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;</span> : Push To
          POS</span>&nbsp;&nbsp;
        <span><span style="background: orange;width: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;</span> : In Progress</span>
      </div>
      <div class="col-auto mr-auto">
        <label class="m-1" for="basic-switch">Units</label>
        <mat-slide-toggle class="m-1"  [(ngModel)]="isCase" (change)="onCaseChange($event)">
        </mat-slide-toggle>
        <label class="m-1" for="basic-switch">Case</label>
      </div>
      <div class="col-auto">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" #isApplyPriceChangestoAllStore="ngModel" [(ngModel)]="isApplyPriceChangestoAllStores"
            name="isApplyPriceChangestoAllStores" class="custom-control-input" id="allStores" />
          <label class="custom-control-label " for="allStores">Apply Price Changes to All
            Stores</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 mt-2">
    <app-editable-grid [rowData]="editStoreItemsRowData" [editGridOptions]="storeItemsGridEditableOptions"
      (gridReady)="onEditGridReady($event)" [fullRowEditabeRequired]="false"
      (delete)="deletePricingAction($event)" (save)="editPriceingGrid($event)"
      (cellValueChanged)="cellValueChanged($event)" (suspend)="suspendAction($event)" (recover)="recoverAction($event)">
    </app-editable-grid>
  </div>
</div>