<div>
  <ngb-tabset type="pills">
    <ngb-tab title="Item Maintenance">
      <ng-template ngbTabContent>
        <app-price-group2></app-price-group2>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Combo Deals Maintenance">
      <ng-template ngbTabContent>
        <app-combo-deals></app-combo-deals>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Mix Match Maintenance">
      <ng-template ngbTabContent>
        <app-manage-mix-match></app-manage-mix-match>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>