::ng-deep .popover {
  max-width: 700px;
}

::ng-deep .datetime-container {
  width: 530px;
}
.btn-date-selector {
  width: 100%;
  border-radius: 0.75rem;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 0.407rem 0.75rem;
  font-size: inherit;
  font-family: inherit;
}
::ng-deep .date-time-label {
  font-size: 18px;
  padding: 5px 15px;
}

::ng-deep .actions {
  text-align: right;
}
$fontSizeIcon: 24px;

::ng-deep .datetime-container {
  .row {
    .time-container {
      .ngx-mat-timepicker {
        font-size: 13px;
        form {
          min-width: 90px;
          border: 1px solid #dfdfdf;
          border-radius: 0.25rem;
          .table {
            margin-bottom: 0px;
            .tbody {
              tr {
                td {
                  text-align: center;
                  padding: 0.25rem;
                  .mat-icon-button {
                    height: $fontSizeIcon;
                    width: $fontSizeIcon;
                    line-height: $fontSizeIcon;
                    .mat-icon {
                      font-size: $fontSizeIcon;
                    }
                  }
                  .mat-form-field {
                    width: 40px;
                    max-width: 40px;
                    text-align: center;
                    display: inline-block !important;
                    .mat-form-field-infix input {
                      padding: 0px !important;
                      color: #007bff;
                    }
                    .mat-form-field-underline{
                      bottom: 0;
                    }
                  }
                  .mat-form-field-wrapper {
                    padding-bottom: 0em;
                  }
                }
              }
            }
            input.mat-input-element {
              padding-left: 0px !important;
            }
          }
        }
      }
    }
  }
}
