::ng-deep .ag-theme-material .ag-cell {
    line-height: 30px;
}

::ng-deep .ag-theme-material .ag-header-cell,
.ag-theme-material .ag-header-group-cell {
    line-height: 30px;
}

::ng-deep .ag-theme-material .ag-header-cell-menu-button .ag-icon-menu {
    height: 30px;
}