<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="">
          <div class="">
            <div class="col-sm-12 form-group">
              <h5 class="card-title">Physical Inventory</h5>
            </div>
            <form [formGroup]="physicalInventorySearchForm">
              <div class="row">
                <label class="form-group has-float-label col-sm-6">
                  <ng-select [items]="storeList" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
                    bindLabel="storeName" bindValue="storeLocationID" labelForId="toStore" placeholder="Select Store"
                    formControlName="storelocationId" groupBy="companyID" [selectableGroup]="true"
                    [selectableGroupAsModel]="false">
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                      <span id="item-{{index}}">&nbsp; &nbsp;&nbsp;{{'All' | uppercase}} </span>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                      <div class="ng-value" *ngFor="let item of items | slice:0:4">
                        <span class="ng-value-label">
                          {{item.storeName}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </div>
                      <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                      </div>
                    </ng-template>
                  </ng-select>
                  <span> Store Name</span>
                </label>
                <label class="form-group has-float-label col-sm-6">
                  <ng-select [items]="departmentList" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
                    bindLabel="departmentDescription" bindValue="departmentID" labelForId="departmentID"
                    placeholder="Select Department" formControlName="departmentIDs" groupBy="companyID"
                    [selectableGroup]="true" [selectableGroupAsModel]="false">
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                      <span id="item-{{index}}">&nbsp; &nbsp;&nbsp;{{'All' | uppercase}} </span>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                      <div class="ng-value" *ngFor="let item of items | slice:0:4">
                        <span class="ng-value-label">
                          {{item.departmentDescription}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </div>
                      <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                      </div>
                    </ng-template>
                  </ng-select>
                  <span> Department</span>
                  <img src="assets/images/small-spinner.gif" *ngIf="isDepartmentLoading">
                </label>
                <label class="form-group has-float-label col-sm-6">
                    <app-daterangepicker [selectedDateRange]="selectedDateRange" (dateRangeSelecetd)="dateRangeChange($event)">
                    </app-daterangepicker>
                    <span> Select Date Range</span>
                  </label>
                <label class="form-group has-float-label col-sm-6">
                  <ng-select [items]="checkeByList" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true"
                    bindLabel="userName" bindValue="userName" labelForId="userName" placeholder="Select Checked By"
                    formControlName="checkeBy" groupBy="companyId" [selectableGroup]="true"
                    [selectableGroupAsModel]="false">
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                      <span id="item-{{index}}">&nbsp; &nbsp;&nbsp;{{'All' | uppercase}} </span>
                    </ng-template>
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                      <div class="ng-value" *ngFor="let item of items | slice:0:4">
                        <span class="ng-value-label">
                          {{item.userName}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </div>
                      <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                      </div>
                    </ng-template>
                  </ng-select>
                  <span> Checked By</span>
                  <img src="assets/images/small-spinner.gif" *ngIf="isCheckByLoading">
                </label>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-md btn-primary float-right"
                    (click)="physicalInventorySearch()">&nbsp;Search</button>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="row mt-3">
          <div class=" justify-content-end col-sm-12 form-group">
            <div class="inner-addon right-addon" style="width: 230px; float: right;">
              <span>
                <i class="fa fa-search card-title" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                placeholder="Filter Search" [(ngModel)]="filterText" name="filterText">
            </div>
          </div>
          <div class="col-sm-12">
            <app-cstore-grid [textFilter]="filterText" [rowData]="rowData" [cStoreGridOptions]="gridOptions"
              (gridReady)="onGridReady($event)">
            </app-cstore-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>