<main role="main" class="container" style="text-align:center;">
  <h2 class="mt-5"><i class="fa fa-frown-o"></i>&nbsp;Site is temporary unavailable.</h2>
  <p class="lead">We are currently performing scheduled maintenance. Site will back soon.</p>
  <p class="lead">We apologize for any inconvenience.</p>
  <span class="text-primary" (click)="location.back()">Go Back</span>
</main>
<footer>
    <span class="pull-right text-white"><span href="javascript:void(0)">CStoreBO</span> &copy; 2019</span>
</footer>