<div class="row justify-content-center">
  <div class="card mt-3 col-sm-5">
    <div class="card-body">
      <div class="card-title">
        <h5>Change Password</h5>
      </div>
      <form [formGroup]="changePasswordForm">
        <div class="col-sm-12 mt-3">
          <label class="form-group has-float-label col-sm-12">
            <input type="password" name="oldPassword" class="form-control" placeholder="Old password" maxlength="150"
              formControlName="oldPassword" required />
            <div *ngIf="submitted && cpFormControl.oldPassword.errors?.required" class="alert alert-danger">
              Old password is required
            </div>
            <span>Old password</span>
          </label>

          <label class="form-group has-float-label col-sm-12">
            <input type="text" name="NewPassword" class="form-control" placeholder="New password" minlength="2"
              maxlength="150" formControlName="newPassword" required />
            <div *ngIf="submitted && cpFormControl.newPassword.errors" class="alert alert-danger">
              <div *ngIf="cpFormControl.newPassword.errors.required">New password is required</div>
              <div *ngIf="cpFormControl.newPassword.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="cpFormControl.newPassword.errors.pattern">Password must be at 1 uppercase ,1 lowercase ,1
                numbers and 1 special character</div>
            </div>
            <span>New password</span>
          </label>

          <label class="form-group has-float-label col-sm-12">
            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password"
              maxlength="150" formControlName="confirmPassword" required />
            <div *ngIf="submitted && cpFormControl.confirmPassword.errors" class="alert alert-danger">
              <div *ngIf="cpFormControl.confirmPassword.errors.required">Confirm password is required</div>
              <div *ngIf="cpFormControl.confirmPassword.errors.mustMatch">Password must match</div>
            </div>
            <span>Confirm password</span>
          </label>

          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="changePassword()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>