<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title" *ngIf="hederTitle">{{hederTitle}}</h5>
    <div class="row" *ngIf="!isAddCompany">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="row justify-content-between margin-bottom-5">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-1"> </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-info refresh" (click)="getDataFromPOS()"> <span>
                      <i class="fa fa-refresh card-title" aria-hidden="true"></i>
                    </span></button>
                </div>
                <div class="col-sm-9">
                  <div class="inner-addon right-addon">
                    <span>
                      <i class="fa fa-search card-title" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" aria-label="Default"
                      aria-describedby="inputGroup-sizing-default" placeholder="Filter Search" [(ngModel)]="filterText"
                      name="filterText" (input)="onFilterTextBoxChanged()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <app-expandable-grid #dataFromPOSGrid [expandableGridOptions]="gridOptions" [rowData]="rowData"
            (gridReady)="onGridReady($event)" columnDefs [gridHeight]="'410px'">
          </app-expandable-grid>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>