::ng-deep .multipliers {
  .ag-overlay {
    margin-top: 40px;
  }
  app-adv-pagination-grid .ag-overlay-wrapper {
    padding-top: 20px !important;
  }
  app-adv-pagination-grid .ag-theme-balham .ag-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
